<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710199503493-9mdpp0fgm44r78bgo1574gehvhbu3m69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710199503493-9mdpp0fgm44r78bgo1574gehvhbu3m69</string>
	<key>API_KEY</key>
	<string>AIzaSyBSNPCFIZS1B07_IczxdSIH0AmUJdG3-E0</string>
	<key>GCM_SENDER_ID</key>
	<string>710199503493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roomiematter.RoomieMatter</string>
	<key>PROJECT_ID</key>
	<string>roomiematter</string>
	<key>STORAGE_BUCKET</key>
	<string>roomiematter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710199503493:ios:f92bb18267a553aa0757ec</string>
</dict>
</plist>